body {
  font: 16px tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}

h1 {
  margin: 0 0 1em 0;
  font-size: 2.8em;
  font-weight: 700;
}

h2 {
  margin: 0 0 0.5em 0;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1.1em;
}

h3 {
  margin: 0 0 0.5em 0;
  font-size: 1.3em;
  font-weight: 700;
}

h4 {
  margin: 0 0 1.5em 0;
  font-size: 1em;
  font-weight: 700;
}

#page {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

#page > div {
  padding-left: 30px;
  padding-right: 30px;
}

header {
  background: url(../images/banner_1200.jpg) no-repeat;
  background-size: cover;
  height: 430px;
  position: relative;
}

.background h2 {
  color: white;
  margin: 0 0 24px;
  font-weight: bold;
}

header .text {
  width: 42%;
  top: 130px;
  left: 55%;
  position: absolute;
}

a.btn {
  font-size: 1.2em;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 4px 15px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.background .btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.logo {
  z-index: 1;
  display: block;
  width: 160px;
  height: 66px;
  position: absolute;
  background: url("../images/logo.svg") no-repeat 0 0;
  background-size: contain;
  top: 20px;
  left: 15px;
}

.container {
  margin-bottom: 30px;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}

.container > div {
  float: left;
  width: 33.3%;
  margin-top: 30px;
}

.container > div > div {
  padding-top: 90px;
  text-align: center;
  background: center top/ 75px 75px no-repeat;
}

.container > div > div a {
  text-decoration: none;
  font-weight: 700;
}

.container > div > div a:hover {
  text-decoration: underline;
}

.container .trending {
  background-image: url(../images/icon_star.svg);
}

.container .find-it {
  background-image: url(../images/icon_marker.svg);
}

.container .tools {
  background-image: url(../images/icon_gear.svg);
}

.atmosphere {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  background: rgba(203, 102, 51, 1);
}

.atmosphere > div {
  background: 0 5px url(../images/photo_lounge.jpg) no-repeat;
  min-height: 220px;
  padding: 0 20px 0 550px;
}

.atmosphere > div p {
  margin-bottom: 15px;
}

.picture::after {
  content: "";
  display: block;
  clear: both;
}

.picture {
  background-color: #eee9d9;
  position: relative;
}

.picture > div {
  float: left;
  width: 30%;
  margin-left: 10px;
}

.picture > div .content {
  padding: 30px 30px 20px 0;
}

.picture > div .content img {
  display: block;
  margin-bottom: 15px;
  width: 70%;
}

.picture > div .content a {
  display: inline-block;
  color: #c63;
  font-weight: 700;
}

.picture blockquote {
  margin: 0;
  width: 32%;
  color: #444;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 4%;
}

.picture blockquote p {
  margin: 30px 30px 20px 50px;
}

.picture blockquote p.quote {
  font-style: italic;
  font-size: 1.1em;
}

.picture blockquote p.credit {
  color: #777;
  font-size: 0.9em;
  margin-top: 0;
  padding-left: 20px;
  line-height: 1.3em;
  position: relative;
}

nav {
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px 0 0;
  width: 100%;
}

nav ul li a {
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  width: 125px;
  position: relative;
}

nav ul li a:visited {
  color: #fff;
}

nav ul li:hover {
  background-color: #2b0306;
}

nav ul li:hover > ul {
  display: block;
}

nav > ul > li > a {
  width: auto;
  padding: 10px 15px 20px;
}

nav ul li a:hover {
  background-color: #6d0911;
}

nav ul ul {
  position: absolute;
  top: 100%;
  background-color: #2b0306;
  display: none;
}

nav > ul {
  padding-left: 200px;
}

nav > ul > li {
  float: left;
}

nav > ul::after {
  content: "";
  display: block;
  clear: both;
}

nav ul ul li {
  position: relative;
}

nav ul ul ul {
  left: 100%;
  top: 0;
}

footer {
  font-size: 0.8em;
  margin: 40px;
  color: #999;
}

footer .content {
  display: inline;
}

footer a {
  margin-left: 30px;
  color: #777;
}

footer a:visited {
  color: #777;
}

footer a:hover {
  color: #000;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 2.4em;
  }
  header div.text {
      left: 50%;
  }
  .atmosphere > div {
    padding-left: 400px;
    background-size: 375px auto;
  }
}

@media screen and (max-width: 825px) {
  h1 {
    font-size: 2.2em;
  }
  header {
    height: 300px;
    background-image: url(../images/banner_825.jpg);
  }
  header div.text {
    top: 120px;
    left: 48%;
  }
  .atmosphere > div {
    padding-left: 325px;
    background-size: 300px auto;
  }
  .picture blockquote p.quote {
    font-size: 1.1em;
    line-height: 1.2em;
  }
  .picture blockquote p.infor {
    font-size: 0.85em;
  }
}

@media screen and (max-width: 760px) {
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.4em;
  }
  h3 {
    font-size: 1.1em;
  }
  a.btn {
    font-size: 1em;
  }
  header a.logo {
    width: 145px;
    height: 60px;
  }
  header div.text {
    top: 150px;
    left: 48%;
  }
  .container {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .container div.content {
    background-size: 55px 55px;
    padding-top: 60px;
  }
  .picture > div div.content img {
    width: 85%;
    margin-bottom: 20px;
  }
  nav {
    padding-top: 80px;
  }
  nav > ul {
    padding-left: 10px;
  }
}

@media screen and (max-width: 625px) {
  h1 {
    font-size: 1em;
  }
  h3 {
    margin-bottom: 0;
  }
  a.btn {
    font-size: 0.9em;
  }
  header {
    height: 160px;
    background-image: url(../images/banner_625.jpg);
    background-position: left top;
  }
  header a.logo {
    width: 100%;
    height: 66px;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.65);
    background-size: 112px 46px;
    background-position: 20px center;
  }
  header div.text {
    width: 300px;
    top: 85px;
    left: 240px;
  }
  header div.text h1 {
    margin-bottom: 10px;
  }
  .container > div {
    width: 100%;
    float: none;
    text-align: left;
  }
  .container > div div.content {
    margin: 8px 20px 8px 0;
    padding: 5px 0 10px 85px;
    background-size: 50px 50px;
    background-position: 20px 5px;
  }
  .atmosphere > div {
    padding: 160px 20px 0 0;
    background-size: 300px auto;
    min-height: initial;
  }
  .picture > div {
    width: 100%;
    float: none;
    margin: 0;
    position: relative;
  }
  .picture > div div.content {
    padding: 20px 20px 20px 150px;
  }
  .picture > div div.content p {
    font-size: 0.9em;
  }
  .picture > div div.content img {
    display: inline-block;
    width: 125px;
    position: absolute;
    top: 30px;
    left: 0;
  }
  .picture blockquote {
    margin: 0 20px 40px;
    width: 90%;
    padding: 1px 0 20px;
    position: relative;
  }
  nav {
    width: auto;
    padding: 20px 15px;
    position: static;
    background-color: #4b0a0c;
  }
  nav ul,
  nav ul ul,
  nav ul ul ul {
    display: block;
    position: static;
  }
  nav > ul {
    padding: 0;
  }
  nav > ul > li {
    float: none;
    margin-top: 25px;
  }
  nav ul li:hover {
    background: none;
  }
  nav ul li a {
    display: block;
    margin: 8px 10px;
    padding: 8px 15px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    width: auto;
  }
  nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  nav ul ul {
    background: none;
  }
  nav ul ul li a {
    margin-left: 30px;
  }
  nav ul ul ul li a {
    margin-left: 60px;
  }
  footer div.content {
    display: block;
    margin-top: 15px;
  }
  footer div.content a {
    margin: 0 20px 0 0;
  }
}